<!-- FOOTER -->
<footer>
     <div class="ui inverted vertical footer segment">
          <div class="ui container">
               <div class="three wide column">
                    <h4 class="ui inverted header">Contact Us</h4>
                    <p>810 Hospital Drive, Suite 190</p>
                    <p> Beaumont, Texas 77701</p>
                    <p> Office: (409) 832-0421</p>
                    <p> Fax: (409) 839-8980</p>
                    <p>Email:  info@cafstx.com</p>
                    <p><a href="https://www.facebook.com/cafs.setx/" class="item"><i class="fab fa-facebook-square"></i>&nbspSocial Media</a></p>
               </div>
          </div>
     </div>
     <div class="copyright">
          <p>Copyright &#169; 2018. Website Designed and Developed by Shane Granger.</p>
     </div>
</footer>
</div>

<!--  Scripts -->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="vendors/js/semantic.min.js"></script>
<script type="text/javascript" src="vendors/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="resources/js/script.js"></script>

</body>
</html>
