<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">2007 Beauty Pageant Fundraiser</h1>
<div class="pageant">
     <img src="resources/css/img/pageant/1.jpg" alt="">
     <img src="resources/css/img/pageant/2.jpg" alt="">
     <img src="resources/css/img/pageant/3.jpg" alt="">
     <img src="resources/css/img/pageant/4.jpg" alt="">
     <img src="resources/css/img/pageant/5.jpg" alt="">
     <img src="resources/css/img/pageant/6.jpg" alt="">
     <img src="resources/css/img/pageant/7.jpg" alt="">
     <img src="resources/css/img/pageant/8.jpg" alt="">
     <img src="resources/css/img/pageant/9.jpg" alt="">
     <img src="resources/css/img/pageant/10.jpg" alt="">
     <img src="resources/css/img/pageant/11.jpg" alt="">
     <img src="resources/css/img/pageant/12.jpg" alt="">
     <img src="resources/css/img/pageant/13.jpg" alt="">
     <img src="resources/css/img/pageant/14.jpg" alt="">
     <img src="resources/css/img/pageant/15.jpg" alt="">
     <img src="resources/css/img/pageant/16.jpg" alt="">
     <img src="resources/css/img/pageant/17.jpg" alt="">
     <img src="resources/css/img/pageant/18.jpg" alt="">
     
</div>



</div>

<% include partials/footer %>
