<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">2007 Log-On Cafe Fundraiser</h1>
<div class="pageant">
     <img src="resources/css/img/cafe/1.jpg" alt="">
     <img src="resources/css/img/cafe/2.jpg" alt="">
     <img src="resources/css/img/cafe/3.jpg" alt="">
</div>

</div>

<% include partials/footer %>
