<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">2007 Charity Golf Tournament</h1>
<div class="golf2008">
     <img class="taller"src="resources/css/img/2007-golf/1.jpg" alt="">
     <img src="resources/css/img/2007-golf/2.jpg" alt="">
     <img src="resources/css/img/2007-golf/3.jpg" alt="">
     <img src="resources/css/img/2007-golf/4.jpg" alt="">
     <img src="resources/css/img/2007-golf/5.jpg" alt="">
     <img src="resources/css/img/2007-golf/6.jpg" alt="">
     <img src="resources/css/img/2007-golf/7.jpg" alt="">
     <img src="resources/css/img/2007-golf/8.jpg" alt="">
     <img src="resources/css/img/2007-golf/9.jpg" alt="">
     <img src="resources/css/img/2007-golf/10.jpg" alt="">
     <img src="resources/css/img/2007-golf/11.jpg" alt="">
     <img src="resources/css/img/2007-golf/12.jpg" alt="">
     <img src="resources/css/img/2007-golf/13.jpg" alt="">
     <img src="resources/css/img/2007-golf/14.jpg" alt="">
     <img src="resources/css/img/2007-golf/15.jpg" alt="">
     <img src="resources/css/img/2007-golf/16.jpg" alt="">
     <img src="resources/css/img/2007-golf/17.jpg" alt="">
     <img src="resources/css/img/2007-golf/18.jpg" alt="">
     <img src="resources/css/img/2007-golf/19.jpg" alt="">
     <img src="resources/css/img/2007-golf/20.jpg" alt="">
     <img src="resources/css/img/2007-golf/21.jpg" alt="">
     <img src="resources/css/img/2007-golf/22.jpg" alt="">



</div>



</div>

<% include partials/footer %>
