<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">2008 Charity Golf Tournament</h1>

<div class="ui segment auction">
     <img class="ui big centered image" src="resources/css/img/auction/1.png">
     <p class="centerThis"><strong> J.B. CHAMPION Men’s Watch </strong></p>
     <p class="centerThis"><strong> Donated by: CHARLES S. NACHOLS JEWELRY</strong></p>

     <img class="ui big centered image" src="resources/css/img/auction/2.png">
     <p class="centerThis"><strong>  Dallas Cowboys Game Package </strong></p>
     <p class="centerThis"><strong> Provided by Equipment Parts & Service Bret Romero </strong></p>

     <img class="ui big centered image" src="resources/css/img/auction/3.png">
     <p class="centerThis"><strong> Beautiful! 14kt White Gold Chain w/ Sterling Silver Pendant </strong></p>
     <p class="centerThis"><strong> Donated by: CANTU FINE JEWERLY  409-866-5859 </strong></p>

     <img class="ui big centered image" src="resources/css/img/auction/4.png">
     <p class="centerThis"><strong>IPOD classic 80GB silver</strong></p>
     <p class="centerThis"><strong> Donated by: Best Buy 409-896-2275</strong></p>

     <img class="ui big centered image" src="resources/css/img/auction/5.png">
     <p class="centerThis"><strong> Fabulous! Hand designed Necklace:  </strong></p>
     <p class="centerThis"><strong> Swarovski crystals, turquoise, jasper, pearls, & wood </strong></p>
     <p class="centerThis"><strong>Donated by: Edna M. Hornsby “Andie’s” 409-351-9986</strong></p>
</div>



</div>

<% include partials/footer %>
