<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">2008 Charity Golf Tournament</h1>
<div class="golf2008">
     <img src="resources/css/img/2008-golf/1.jpg" alt="">
     <img src="resources/css/img/2008-golf/2.jpg">
     <img src="resources/css/img/2008-golf/3.jpg">
     <img src="resources/css/img/2008-golf/4.jpg">
     <img src="resources/css/img/2008-golf/5.jpg">
     <img src="resources/css/img/2008-golf/6.jpg">
     <img src="resources/css/img/2008-golf/7.jpg">
     <img src="resources/css/img/2008-golf/8.jpg">
     <img src="resources/css/img/2008-golf/9.jpg">
     <img src="resources/css/img/2008-golf/10.jpg">
     <img src="resources/css/img/2008-golf/11.jpg">
     <img src="resources/css/img/2008-golf/12.jpg">
     <img src="resources/css/img/2008-golf/13.jpg">
     <img src="resources/css/img/2008-golf/14.jpg">
     <img src="resources/css/img/2008-golf/15.jpg">
     <img src="resources/css/img/2008-golf/16.jpg">
     <img src="resources/css/img/2008-golf/17.jpg">
     <img src="resources/css/img/2008-golf/18.jpg">
     <img src="resources/css/img/2008-golf/19.jpg">
     <img src="resources/css/img/2008-golf/20.jpg">
     <img src="resources/css/img/2008-golf/21.jpg">
     <img src="resources/css/img/2008-golf/22.jpg">
     <img src="resources/css/img/2008-golf/23.jpg">
     <img src="resources/css/img/2008-golf/24.jpg">
     <img src="resources/css/img/2008-golf/25.jpg">
     <img src="resources/css/img/2008-golf/26.jpg">
     <img src="resources/css/img/2008-golf/27.jpg">
     <img src="resources/css/img/2008-golf/28.jpg">
     <img src="resources/css/img/2008-golf/29.jpg">
     <img src="resources/css/img/2008-golf/30.jpg">
     <img src="resources/css/img/2008-golf/31.jpg">
     <img src="resources/css/img/2008-golf/32.jpg">
     <img src="resources/css/img/2008-golf/33.jpg">
     <img src="resources/css/img/2008-golf/34.jpg">
     <img src="resources/css/img/2008-golf/35.jpg">
     <img src="resources/css/img/2008-golf/36.jpg">
     <img src="resources/css/img/2008-golf/37.jpg">
     <img src="resources/css/img/2008-golf/38.jpg">
     <img src="resources/css/img/2008-golf/39.jpg">
     <img src="resources/css/img/2008-golf/40.jpg">
     <img src="resources/css/img/2008-golf/41.jpg">
     <img src="resources/css/img/2008-golf/42.jpg">
     <img src="resources/css/img/2008-golf/43.jpg">
     <img src="resources/css/img/2008-golf/44.jpg">
     <img src="resources/css/img/2008-golf/45.jpg">
     <img src="resources/css/img/2008-golf/46.jpg">
     <img src="resources/css/img/2008-golf/47.jpg">
     <img src="resources/css/img/2008-golf/48.jpg">

</div>



</div>

<% include partials/footer %>
