<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>Brenda Garison’s forensic nursing career includes the following:</h1>
<h2>Achievements:</h2>
<li>Founder and Program Director of Child Abuse & Forensic Services (CAFS) 1996, the first and only private facility in the State of Texas to provide for forensic medical examinations for sexual assault victims</li>
<li>Testified in criminal, civil, and federal courts as an expert witness in sexual assault cases</li>
<li>SANE certified since 1999 by the Texas Attorney General’s Office in child/adult forensic medical examinations  </li>
<li>14 years experience as a sexual assault nurse examiner (over 2,000 exams; approximately 70% under 12 years of age)  </li>
<li>Worked with Representative Deshotel in writing Texas HB 131 which addresses reimbursement to law enforcement for forensic medical examinations on sexual assault patients.</li>
<h2>Memberships:</h2>
<li>International Association of Forensic Nurses, Voting member since 1995 </li>
<li>American Professional Society on the Abuse of Children</li>
<li>Texas Association Against Sexual Assault </li>
<li>Children’s Advocacy Centers of Texas, Inc. </li>
<h2>Awards</h2>
<li>2005 “Achievement Award”, International Association of Forensic Services</li>
<li>2003 “Philanthropy Award Of The Year”, Texas Association Against Sexual Assault   </li>
<li>1999 “Certificate of Appreciation”, U.S. Department of Justice, Office of Justice Programs and Office for Victims of Crime in recognition of dedication to victims’ rights   </li>
<li>1997 “Child Advocate of the Year Award”, CASA of Southeast Texas</li>
<li>1994 “Edith Rust Medical Award”, Texas Association Against Sexual Assault   </li>
</div>

<% include partials/footer %>
