<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>Brenda Garison RN, CA-CP Sexual Assault Nurse Examiner (SANE) </h1>
<h3>Founder and Program Director of Child Abuse & Forensic Services (CAFS).    </h3>
<br>
<p>As program director, Ms. Garison’s responsibilities include development and implementation of programs, performing forensic medical examinations, courtroom testimony and community education.  She is certified to perform pediatric and adult forensic medical examinations by the Texas Office of the Attorney General.  Ms. Garison works closely with other members of the multidisciplinary team to help ensure the needs of victims are met. </p>
<p>Ms. Garison founded Child Abuse & Forensic Services in 1996, a non-profit 501 (c) 3 organization. After working as a SANE at a local hospital she saw a need for a private facility to care for patients making an outcry of sexual assault. Ms. Garison opened the first, and only, private facility in the State of Texas to care for the forensic medical aspects of these patients.  With a strong emphasis on privacy, confidentially and a non-threatening atmosphere, Child Abuse & Forensic Services continues to be the only stand alone facility in the state. Ms. Garison received her initial training as a SANE while working as a staff nurse at a local hospital.  Ms. Garison started her forensic career in 1993 as a sexual assault nurse examiner and has examined over 2000 patients (approximately 70% are children under 12 years old).</p>
<p>She has testified in criminal, civil and federal courts on cases relating to sexual assault.  Ms. Garison has also completed chart review for, and testified at the request of, defense attorneys.</p>
<p>After seeing first hand that patients were some times not receiving forensic medical examinations due to budget constraints of law enforcement, she worked with State Rep. Joe Deshotel in writing HB131. This legislative bill allows law enforcement agencies to be reimbursed for the cost of forensic medical examinations. After HB131 was passed, she worked closely with the Texas Office of The Attorney General while the rules for reimbursement were written and implemented.</p>
<p>Her professional affiliations include the International Association of Forensic Nurses, American Professional Society on the Abuse of Children, Texas Association Against Sexual Assault and Children’s Advocacy Centers of Texas, Inc.  Ms. Garison was the recipient of the “Edith Rust Medical Award” from the Texas Association Against Sexual Assault in 1994 and the “Child Advocate of the Year Award” presented by CASA of Southeast Texas in 1997.  She also received a Certificate of Appreciation in 1999 from the U.S. Department of Justice, Office of Justice Programs and Office for Victims of Crime, in recognition of dedication to victims’ rights. In 2003 she received the “Philanthropy Award Of The Year” from Texas Association Against Sexual Assault and in 2005 the “Achievement Award” from the International Association of Forensic Services. </p>

</div>

<% include partials/footer %>
