<% include partials/header %>

<div class=" ui container text ">
     <br>
     <br>
     <br>
<h1>Community Education</h1>
<h3>Law Enforcement</h3>
<h3>Grand Jury</h3>
<h3>Rape & Suicide Crisis Center</h3>
<h3>Lamar University Students</h3>
<h3>Daycare Facilities</h3>
<h3>Long Term Nursing Facilities</h3>
<h3>Medical Professionals</h3>
<h3>Community Group or Organization Requesting Training</h3>
<br>
<h2 class="underline">CURRENT PROGRAMS</h2>
<p>CAFS currently operates 3 programs:</p>
<ol>
     <li>Sexual Assault Nurse Examiner Program</li>
     <li>Forensic Evidence Collection, non-sexual assault Program</li>
     <li>Education Program</li>
</ol>

<h3>SANE Program</h3>
<p>The primary function of CAFS.  In this program, we help prevent continual sexual abuse of children and adults by collecting evidence to be used in the prosecution of perpetrators of these violent and mentally traumatizing crimes.  The Texas OAG’s office certifies all nursing staff. All nursing staff is credentialed by Memorial Hermann Baptist Beaumont Hospital medical staff to perform exams and evidence collection within the hospital.  This includes departments such as, emergency, surgery, ICU or patient rooms. Exams have also been performed at St. Mary’s Hospital, Medical Center of Southeast Texas, Memorial Hermann Baptist Orange and before closing, Mid Jeff Hospital. UTMB has contracted with CAFS to perform forensic medical examinations and evidence collection at the Jefferson Co. Prison Complex.  CAFS has provided crime scene evidence collection in Hardin County at the request of the District Attorney.  </p>

<h3>Forensic Evidence Collection, non-sexual assault Program</h3>
<p>Focuses on Controlled Substance testing as well as other evidence collection needs that occur in both the Criminal and Civil arena.   </p>

<h3>Education Program</h3>
<p>focuses on public awareness as well as educating the investigators of these heinous crimes. The attendees include but not limited to law enforcement, prosecutors, grand jury, CPS caseworkers and other community groups. </p>

</div>

<% include partials/footer %>
