<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>The Effects of Sexual Assault</h1>
<p><strong>The experience of sexual assault has different meanings for each person. No one knows precisely how an individual will react; however, crisis counselors have found that most people experience sexual assault as a severe emotional and physical violation, usually referred to as Rape Trauma Syndrome.<sup>1</sup> Rape Trauma Syndrome is considered a form of Post Traumatic Stress Disorder (PTSD). For sexual assault victims, the emotional and spiritual trauma can be the most difficult to overcome.  </strong></p>
<p>Trauma can produce pronounced feelings of helplessness and powerlessness, as well as physical symptoms such as breathing problems, vomiting, extreme trembling, outbursts of anger, nightmares, and the inability to remember events. Phobic anxiety may set in, causing a person to want to avoid any situation that may trigger memories. Victims are also likely to experience depression.   </p>
<p>Eventually, the victim may become despondent, demoralized, and preoccupied with pain or disability. He or she could feel that no one understands. If the victim is not validated, as is often the case with rape victims, this may feed into his/her sense of worthlessness and shame.  </p>
<p><i>Note: Research indicates that repeated trauma, including sexual molestation, experienced by children younger than three years old may cause malformation of the brain.<sup>2</sup></i></p>

<ul>
     <li>Eighty-two percent of victims reported that the rape permanently changed them.<sup>3</sup></li>
     <li>The chances that a woman will develop PTSD after being raped are between 50 and 95 percent.<sup>4</sup></li>
     <li>Half of rape victims describe being fearful of serious injury or death during the event.<sup>5</sup></li>
     <li>Thirteen percent of rape victims attempt suicide. Thirty percent contemplated suicide.<sup>6</sup></li>
</ul>

<div class="smallerText">
     <h3 class="centerThis">Sources</h3>
     <ol>
          <li>National Center for Victims of Crime and Crime Victims Research and Treatment Center . (1992) Rape in : A report to the nation. Arlington, VA : Kilpatrick, D.G., Edmunds, C.N. & Seymour A. </li>
          <li>Perry, B.A., Pollard, R.A., Blakley, T.L., Baker, W. & Vigilante, D. (1995). Childhood trauma, the neurobiology of adaptation and use-dependent development of the brain: How states become traits. Infant Mental Health Journal, 16 (4), 271-291.  </li>
          <li>Warshaw, R. (1994). I never called it rape: The Ms. report on recognizing, fighting and surviving date acquaintance rape. New York : HarperPerennial.  </li>
          <li>Population Information Program. Population Reports: Ending Violence Against Women. (2000). Center for Communications Programs. The Johns Hopkins School of Public Health & Center for Health and Gender Equity.</li>
          <li> National Center for Victims of Crime and Crime Victims Research and Treatment Center . (1992) Rape in : A report to the nation. Arlington, VA : Kilpatrick, D.G., Edmunds, C.N. & Seymour A. </li>
          <li>Ibid. </li>
     </ol>
</div>


</div>

<% include partials/footer %>
