<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>For Teens</h1>
<h2>"Rape? That could never happen to me."</h2><p>Chances are you’ve heard that line before. But you know what? Chances are it could happen to you. In fact, 67 percent of rape victims are under the age of 18.<sup>1</sup> How’s that for reality? And rape isn’t the only form of sexual violence. Sexual harassment, which is unwanted verbal comments, physical touching, or sexual advances, is also a problem for teens. Four out of five teenagers, boys and girls alike, reported being sexually harassed to the point that it intrudes on their daily lives.<sup>2</sup></p>
<p> All too often people think of rape and sexual harassment as an issue for adults. Unfortunately, you might know all too well how untrue that is. Teens are in just as much danger as adults of becoming victims of rape. What is really scary is that teens 16 to 19 years old are 3.5 times more likely to be the victims of rape, attempted rape, or sexual assault than anyone else in our country <sup>3</sup>. Twenty-three percent of those who commit these acts are under the age of 18 <sup>4</sup>, which goes to show that teens are both the victims and the perpetrators... so it really is an issue for teens. (To read the rest of this article, and to find out more about sexual assault, click here.)  </p>
<h2>Stories of Violence and Healing</h2>
<h4><i> A collection of stories and statements from Texas teen survivors of sexual violence, and the family and friends who support them.  </i></h4>
<p> The summer before my sophomore year, I was going to my friend’s deer lease for the weekend. We expected it to be a really fun weekend. Saturday morning, my friend and I decided we were going to tube down the river. We met a group of college kids on the shuttle, and we decided to float down the river with them. They were all drinking, and eventually, me, my friend, and one of the college kids separated from the rest of the group. The last thing I remember is asking someone for something else to drink like a coke. The next thing I knew, I woke up and this guy I hadn’t even spoken to before was raping me. When I finally got away, this guy and his friend started laughing at me as I tried to run away and tripped on the rocks in the water. </p>

<h2>Get Help</h2>
<p> If you or someone you know has been a victim of rape or sexual assault, you can and should seek help. There are many places across the community who help survivors in many ways. Here are just a few hotline numbers that will be helpful for you. </p>

<ul>
     <li> Rape, Abuse, and Incest National Network 1-800-656-4673 </li>
     <ul>
          <li>Provides support 24/7 for victims  </li>
          <li>Gives advice, guidance, and someone to listen to survivors, family, and friends </li>
     </ul>
     <li>Texas Advocacy Project Legal Hotline 1-800-374-4673 </li>
     <ul>
          <li>Provides legal advice and support for survivors </li>
          <li>Gives survivors a chance to speak to an attorney about their legal needs </li>
     </ul>
     <li>National Dating Violence/Abuse Hotline 1-800-799-7233 </li>
     <ul>
          <li>Available 24/7   </li>
          <li>Gives survivors someone to talk to about what they have experienced and what needs they have  </li>
          <li>Provides resources and other supportive information for survivors, family, and friends   </li>
     </ul>
</ul>

<p>In Texas , click to find the contact information for the <a href="http://taasa.org/crisis-center-locator/">Rape Crisis Center</a> nearest to you. </p>
<p><a href="http://taasa.org/resources/understanding-sexual-assault/">Click here for Sexual Assault Information</a></p>
<div class="smallerText">
     <h3 class="centerThis">Sources</h3>
     <ol>
          <li>Bureau of Justice Statistics. (2000). <i>National Crime Victimization Survey.</i> Washington , D.C </li>
          <li>American Association of University Women Educational Foundation. </li>
          <li>Bureau of Justice Statistics. (1996). <i>National Crime Victimization Survey</i> Washington, D.C.</li>
          <li>Snyder, Howard. (2000). <i>"Sexual Assault of Young Children as Reported to Law Enforcement: Victim, Incident and Offender Characteristics." Bureau of Justice Statistics, Department of Justice.</i> </li>
     </ol>
</div>

</div>

<% include partials/footer %>
