<% include partials/header %>

<div class=" ui container text resourceWebsites">
     <br>
     <br>
     <br>
     <h1 class="centerThis">Helpful Resources</h1>
     <h2>Texas Websites</h2>
     <br>
<a href="https://texasattorneygeneral.gov/cvs/sexual-assault-prevention-and-crisis-services">Texas Office of The Attorney General Sexual Assault Prevention and Crisis Services</a>
<a href="http://www.dps.texas.gov/administration/staff_support/victimservices/pages/crimevictimscompensation.htm">Texas Office of The Attorney General Crime Victims Compensation</a>
<a href="http://tdcj.state.tx.us/divisions/vs/index.html">Texas Department of Criminal Justice Victims Services Division</a>
<a href="https://gov.texas.gov/organization/cjd">Texas Office of the Governor Criminal Justice Division</a>
<a href="http://www.dfps.state.tx.us/Adult_Protection/">Adult Protective Services</a>
<a href="http://www.dfps.state.tx.us/Child_Protection/">Child Protective Services</a>
<a href="http://www.dshs.texas.gov/csot/default.shtm">Texas Department of Health Council for Sex Offender Treatment</a>
<a href="https://hhs.texas.gov/doing-business-hhs/provider-portals/social-services-providers/refugee-program">Texas Department of Human Services Office of Immigration and Refugee Affiars</a>
<a href="http://www.dps.texas.gov/administration/crime_records/pages/crimestatistics.htm">Texas Department of Public Safety Crime Statistics</a>
<a href="http://www.wpaonline.org/institute/wap.htm">Women's Advocacy Project</a>
<a href="http://www.peopleagainstviolentcrime.org/home.html">People Against Violent Crime</a>
<a href="http://www.arte-sana.com/">Arte Sana</a>
<a href="http://tcfv.org/">Texas Council on Family Violence</a>
<a href="https://www.cactx.org/">Children's Advocacy Centers of Texas</a>
<a href="https://texascasa.org/">Texas CASA</a>

</div>

<% include partials/footer %>
