<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>Brief History and Description of Existing Services of Child Abuse & Forensic Services</h1>
<h2>History</h2>
<p>Child Abuse & Forensic Services (CAFS) began as a vision of Brenda Garison’s in 1996 after recognizing that patients who had been sexually assaulted/abused were many times re-traumatized in the emergency room.  Due to many circumstances common to all emergency rooms, the special care and prompt forensic medical examinations these patients needed, just could not be afforded to them. Ms. Garison felt with conviction that more could be done for these child and adult victims of sexual assault/abuse.  She set out to establish the first non-hospital based facility exclusively for forensic medical examinations. CAFS is a non-profit 501©3 facility exclusively dedicated to performing forensic medical examinations and other forensic evidence collection. </p>
<p>Ms. Garison received classroom and clinical training as a Sexual Assault Nurse Examiner (SANE) to perform forensic medical examinations on children and adults as well as to provide expert testimony in the courtroom on the findings of the examinations.  Ms. Garison was part of the first group of 10 nurses trained in February 1993 to perform forensic medical examinations at St. Elizabeth Hospital . She worked full time as a staff and part time as a SANE in the emergency department. When certification became available through the Office of the Attorney General (OAG), Ms. Garison obtained certification in adult and pediatric.  </p>
<p>In 1995 she began performing these forensic medical exams in a local Ob/Gyn office.  In May 1996 Child Abuse & Beyond (CAAB) became incorporated, April 1997, CAAB received 501(c)(3) status. Due to the volume of patients and the desire for a more confidential setting, a private office was needed. Columbia Medical Center , currently Memorial Hermann Baptist Beaumont Hospital recognized Ms. Garison’s dedication and success in providing these patients specialized care graciously donated office space.  Memorial Hermann Baptist Beaumont Hospital continues to donate office space to insure continued services to patients in need of forensic medical examination and evidence collection. </p>
<p>By May 2000, services had grown to include additional forensic investigative services for Law Enforcement and Prosecutors to assist in the investigation of criminal cases.  These added services prompted the Board of Directors to change the name to Child Abuse & Forensic Services (CAFS), to better describe the services performed. </p>

</div>

<% include partials/footer %>
