<!DOCTYPE html>
<html lang="en">
<head>
     <title>Child Abuse and Forensic Services</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="vendors/css/semantic.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
     <link rel="stylesheet" href="vendors/css/normalize.css">
     <link rel="stylesheet" href="vendors/css/ionicons.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
     <link rel="stylesheet" href="vendors/css/animate.css">
     <link rel="stylesheet" href="vendors/css/grid.css">
     <link rel="stylesheet"  href="resources/css/cafs-semantic-ui-landing.css">
     <link rel="stylesheet"  href="resources/css/queries-min.css">
</head>
<body>

<div class="ui right sidebar inverted vertical menu">
     <a class="item js--nav-link-mission js--scroll-to-mission">Mission</a>
     <a class="item js--nav-link-services js--scroll-to-services">Services</a>
     <a class="item js--nav-link-whoWeAre js--scroll-to-whoWeAre">Who We Are</a>
     <a class="item js--nav-link-contact js--scroll-to-contact">Contact Us</a>
     <div class="ui inverted segment">
  <div class="ui inverted accordion">
    <div class="title">
         <span class="more">Info and Resources</span>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
     <ul>
          <li><a href="/history">C.A.F.S. History</a></li>
          <li><a href="/accomplishments">Accomplishments</a></li>
          <li><a href="/legislativeWork">Legislative Work</a></li>
          <li><a href="/brendaGarison">About Brenda Garison</a></li>
          <li><a href="/ourFacility">Our Facility</a></li>
          <li><a href="/resources/CAFS_Brochure_preview.pdf">Print our Brochure</a></li>
          <li><a href="/communityEducation">Community Education</a></li>
          <li><a href="/helpfulResources">Helpful Resources</a></li>
     </ul>
    </div>
    <div class="title">
         <span class="more">For Survivors</span>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
     <ul>
          <li><a href="/victim">If You Are a Victim</a></li>
          <li><a href="/yourRights">You Have a Right To</a></li>
          <li><a href="/someoneYouKnow"><span class="textSmaller">When It Is Someone You Know</span></a></li>
     </ul>
    </div>
    <div class="title">
         <span class="more">What is Sexual Assault?</span>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
     <ul>
          <li><a href="/rate">Rate of Sexual Assault</a></li>
          <li><a href="/impacted">Who is Impacted</a></li>
          <li><a href="/effects"><span class="textSmaller">The Effects of Sexual Assault</span></a></li>
     </ul>
    </div>
    <div class="title">
         <span class="more">Child Sexual Abuse Info</span>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
     <ul>
          <li><a href="/warningSigns">Warning Signs</a></li>
          <li><a href="/howToRespond">How To Respond</a></li>
          <li><a href="/howToProtect">How To Protect</a></li>
          <li><a href="/forTeens">For Teens</a></li>
          <li><a href="/sexOffenderFacts">Sex Offender Facts</a></li>
     </ul>
    </div>
    <div class="title">
         <span class="more">Reporting The Crime</span>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
     <ul>
          <li><a href="/reportCrime">Reporting The Crime</a></li>
          <li><a href="/whatToSay"><span class="textSmaller">What to Say and What Not To Say</span></a></li>
     </ul>
    </div>
    <div class="title">
         <span class="more">Our Sponsors</span>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
     <ul>
          <li><a href="http://www.claydugas.com/">www.ClayDugas.com</a></li>
          <li class="textSmaller"><a href="https://www.provostumphrey.com/">www.ProvostUmphrey.com</a></li>
          <li id="ferguson"><a href="http://www.thefergusonlawfirm.com/">www.TheFergusonLawfirm.com</a></li>
          <li><a href="https://www.cowboyharley.com/">www.CowboyHarley.com</a></li>
          <li><a href="http://zummo.com/">Zummo Meat Company</a></li>
          <li class="textSmaller">Hernandez Office Supply<br>&nbsp &nbsp &nbsp 409-724-0135</li>
          <li>INT2</li>
          <li><a href="https://www.gecu.org/">Gulf Credit Union</a></li>
     </ul>
    </div>
    <div class="title">
         <span class="more">Past Events</span>
      <i class="dropdown icon"></i>
    </div>
    <div class="content">
     <ul>
          <li>Bayou Jam 2012</li>
          <li><a href="/2008Golf">2008 Charity Golf Tournament</a></li>
          <li><a href="/2008Auction">2008 Charity Silent Auction</a></li>
          <li><a href="/2007Golf">2007 Golf Tournament</a></li>
          <li><a href="/2007Pageant">2007 Beauty Pageant Fundraiser</a></li>
          <li><a href="/2007Cafe">2007 Log-On Cafe Fundraiser</a></li>
     </ul>
    </div>
  </div>
</div>
<a href="https://www.facebook.com/cafs.setx/" class="item facebookLink" ><i class="fab fa-facebook-square"></i>Follow us for Current <span class="indent">News and Events!</span></a>
<a class="item facebookLink" href="https://calendar.google.com/calendar/embed?src=u98seud3p8qj48eo2fg27vhtkc%40group.calendar.google.com&ctz=America%2FChicago"><i class="ion-calendar"></i> &nbsp Click Here To See <span class="indent">Our Calendar!</span></a>
  </div>
  <div class="pusher">
       <!-- HEADER -->
      <header>
           <nav>
                <div class="nav-row row nav-dark">
                     <a href="#"><img alt="Brand" src="resources/css/img/cafs.jpg" class="logo"></a>
                     <div class="ui secondary menu iphone-fix">
                          <div class="left menu">
                               <a href="#" class="item" id="companyName">Child Abuse & Forensic Services</a>
                          </div>
                          <div class="right menu">
                               <a class="item js--scroll-to-mission">Mission</a>
                               <a class="item js--scroll-to-services">Services</a>
                               <a class="item js--scroll-to-whoWeAre">Who We Are</a>
                               <a class="item js--scroll-to-contact">Contact Us</a>
                               <a class=" item" id="moreSidebar">More&nbsp<i class="ion-arrow-right-b"></i></a>
                               <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                          </div>
                     </div>
                </div>
           </nav>

<div class="row">
     <div class="hero-text-box ">
          <h1>Stop Sexual Abuse.</h1>
          <br>
          <h1>Protect Our Families.</h1>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="donateButton">
                   <input name="cmd" value="_s-xclick" type="hidden">
                   <input name="hosted_button_id" value="8ZV4J5BLA3YR6" type="hidden">
                   &nbsp;
                   <img class="hcwpcuglcrzgelvsohla" alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" style="display: none !important;" width="1" hidden="" height="1" border="0">
          </form>
          <button class="ui blue button" form="donateButton" type="submit" value="Submit">Donate</button>
          <button class="ui primary basic button js--scroll-to-mission">Our Mission</button>
     </div>
</div>

      </header>

      <!-- SECTION-MISSION -->
      <section class=" section section-mission js--section-mission">
           <div class="js--section-mission">
                &nbsp
           </div>
           <div class="row">
                <h2>Our Mission</h2>
                <p class="long-copy">The mission of Child Abuse & Forensic Services is to administer forensic medical examinations to patients that have made an outcry of sexual assault and collect evidence from child and adult patients in a timely manner in a non-threatening facility with <span class="emphasis">no monetary charge to the patient.</span> We are committed to lessen the trauma to these individuals through education, prevention, and advocacy. We are part of a multidisciplinary unifying force bringing together parties involved in and affected by sexual assault as a catalyst for change.</p>
           </div>
      </section>

      <!-- SECTION-SERVICES -->
      <section class="section section-services js--section-services">
           <div class="js--section-services">
                &nbsp
           </div>
           <div class="row">
                <h2>Services</h2>
           </div>
           <div class="row">
                <div class="col span-1-of-2 box inverted-box query-services">
                     <i class="fas fa-hands-helping icon-big"></i>
                     <h3>C.A.F.S. Services</h3>
                     <ul class="cafs-services">
                          <li> Provide examination and assessment of patients giving a history of sexual assault for both children and adults.</li>
                          <li>Collection of forensic evidence, photographs and written documentation for use in the investigation. The nurse maintains a chain of evidence for law enforcement officers. </li>
                          <li>Prophylaxis treatment of sexual transmitted diseases as indicated.</li>
                          <li>Pregnancy testing and prevention of pregnancy, if desired.</li>
                          <li>Sexual assault counseling and medical referrals when appropriate.</li>
                          <li>Forensic medical examinations are performed in the emergency room or in-hospital if needed.</li>
                          <li>Suspect forensic evidence collection.</li>
                          <li>Courtroom testimony, including expert witness testimony on sexual assault cases.</li>
                          <li>Examinations are conducted by a certified Sexual Assault Nurse Examiner (SANE) Registered Nurse and are done in a warm, cozy, clean, supportive and confidential atmosphere.</li>
                          <li>Oversight by a gynecologist/obstetrician and consultation by a pediatrician, when needed. </li>
                     </ul>
                </div>
                <div class="col span-1-of-2 box inverted-box query-visit">
                     <i class="fas fa-medkit icon-big"></i>
                     <h3 class="widerH3"> What Happens</h3>
                     <h3>During Visit</h3> 
                     <ul>
                          <li class="services2"> 1. After contact with Law Enforcement or Child Protective Services, the nurse examiner meets with the patient and the patient becomes her only focus. </li>
                          <li class="services2"> 2. An advocate is made available to offer support before, during and after the examination at the request of the patient.</li>
                          <li class="services2"> 3. The history of the event is documented to be used for diagnosis and treatment of the patient. </li>
                          <li class="services2"> 4. A comprehensive head-to-toe physical examination is performed including a detailed forensic medical examination of the genital area or area of the body which was violated and evidence is collected as indicated.  The nurse provides holistic care and support for the patient.  First and foremost is the well being of the patient. </li>
                          <li class="services2"> 5. After examination is completed, a bathroom/shower facility is available to the patient if appropriate. </li>
                     </ul>
                </div>
           </div>
      </section>

      <section class="section section-whoWeAre js--section-whoWeAre">
           <div class="js--section-whoWeAre">
                &nbsp
           </div>
           <div class="row">
                <h2>Who We Are</h2>
           </div>
           <div class="image-block row">
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/brendaGarison2.jpg">
                     <span class="memberName">Brenda Garison</span>
                     <br>
                     <span>Executive Director</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/jesPrince2.jpg">
                     <span class="memberName">Jes Prince</span>
                     <br>
                     <span>Board President</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/JessePompa2.jpg">
                     <span class="memberName">Jesse Pompa</span>
                     <br>
                     <span>Treasurer</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/barbaraClark2.jpg">
                     <span class="memberName">Barbara Clark</span>
                     <br>
                     <span>Board Member</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/kimCao2.jpg">
                     <span class="memberName">Kimberly Cao</span>
                     <br>
                     <span>Board Member</span>
                </div>
           </div>
           <div class="image-block row">
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/lisaMcMillian2.jpg">
                     <span class="memberName">Lisa McMillian</span>
                     <br>
                     <span>Board Member</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/kristaParmer2.jpg">
                     <span class="memberName">Krista Parma</span>
                     <br>
                     <span>Board Member</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/katieSheffield2.jpg">
                     <span class="memberName">Katie Sheffield</span>
                     <br>
                     <span>Board Member</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/zenaStephens2.jpg">
                     <span class="memberName">Sheriff Zena Stephens</span>
                     <br>
                     <span>Board Member</span>
                </div>
                <div class="col span-1-of-5">
                     <img class="ui small image" src="resources/css/img/whoWeAre/christinaTrujillo2.jpg">
                     <span class="memberName">Christina Trujillo</span>
                     <br>
                     <span>Board Member</span>
                </div>
           </div>

      </section>


      <!-- FOOTER -->
      <footer class="js--section-contact">
           <div class="ui inverted vertical footer segment">
                <div class="ui container">
                     <div class="three wide column">
                          <h4 class="ui inverted header">Contact Us</h4>
                          <p>810 Hospital Drive, Suite 190</p>
                          <p> Beaumont, Texas 77701</p>
                          <p> Office: (409) 832-0421</p>
                          <p> Fax: (409) 839-8980</p>
                          <p>Email:  info@cafstx.com</p>
                          <p><a href="https://www.facebook.com/cafs.setx/" class="item"><i class="fab fa-facebook-square"></i>Social Media</a></p>
                     </div>
                </div>
           </div>
           <div class="copyright">
                <p>Copyright &#169; 2018. Website Designed and Developed by Shane Granger.</p>
           </div>
      </footer>
  </div>





     <!--  Scripts -->
     <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script>
     <script
     src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
     integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
     crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
     <script src="vendors/js/semantic.min.js"></script>
     <script type="text/javascript" src="vendors/js/jquery.waypoints.min.js"></script>
     <script type="text/javascript" src="resources/js/script-min.js"></script>
</body>
</html>
