<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>How to Respond When a Child is Being Sexually Abused</h1>
<p>If a child hints, even in a vague way, that sexual abuse has occurred stay calm, don't make judgmental comments, and encourage the child to talk freely. Remember that children frequently report abuse in a piecemeal manner to see how you will react and determine your trustworthiness. Do not be surprised or angry if you do not get the complete story at first.</p>
<p>Here are some more suggestions for handling a child's disclosure of abuse:</p>
<ul class="blueText">
     <li>Tell them that you believe them. </li>
     <li>Assure the child that he/she did the right thing in telling. </li>
     <li>Tell the child they are very brave for telling someone. </li>
     <li>Tell the child he/she is not to blame for the abuse. </li>
     <li>Be supportive of the child. </li>
     <li>Be careful of scaring the child by exhibiting strong emotions, such as anger, in the child's presence. </li>
     <li>Don't be afraid to show affection toward the child. </li>
     <li>Find out how the child feels physically. Does his/her body hurt anywhere? </li>
     <li>Notify the police. Do not take the law into your own hands. </li>
     <li>Seek help in coping with the incident. Contact your local child abuse or rape crisis center. Seek support for both the child and yourself. </li>
</ul>
<p> With the love and support of adults such as parents, teachers, and counselors children can recover and thrive after these traumatic incidents. </p>

<h2>How Does the Victim Recover?</h2>
<p> Sometimes, victims are able to begin recovery with the help of friends and family shortly after the incident occurs. Others wait until adulthood to begin sorting through the issues. Whether young or old, the following issues are common to many survivors of child sexual abuse. </p>

<ul class="redText">
     <li>Many survivors blame themselves and feel guilty or partly responsible for the abuse. It is important for survivors of sexual abuse to understand that what happened to them was in no way their fault. The fault lies completely on the shoulders of the abuser. </li>
     <li>Because their trust in an adult or older teen was betrayed, trusting others is often difficult for survivors of child sexual abuse. Often, survivors must learn to trust others again. </li>
     <li>Abuse in any form often leaves survivors with a low sense of self-worth or self-esteem. In addition, survivors of sexual abuse may not feel good about their body or sexuality. At times, it can be difficult for a survivor to feel good about themselves; but, over time, and with the support of friends and family, many survivors recover and feel stronger. </li>
     <li>Learning to deal with anger can be a challenge for anyone. For survivors of sexual abuse, their anger may be aimed at someone they care for, which is especially confusing. Survivors may take their anger out on others or on themselves. Drug (including prescription drugs) and alcohol abuse are common ways for survivors to alleviate their pain without actually dealing with the anger. Learning to heal and express pain and anger in a healthy manner is one step towards recovery. </li>
</ul>

<p>It is important to remember that people who have experienced sexual abuse can grow up to be kind, courageous, tough and smart. All people can grow from hard times in their lives. <strong>The vast majority of sexually abused children do NOT grow up to abuse others! </strong></p>

<h2>What About the Needs of the Family of the Victim?</h2>
<p> The family of a child abuse victim is also greatly impacted. Some families even become divided and take sides, especially if the offender is someone within or close to the family. </p>
<p>Many parents and families feel the following when someone they love is abused: </p>
<ul class="redText">
     <li>Confusion, denial, fear or shame; </li>
     <li>Self-blame or guilt for not being able to protect their child; </li>
     <li>Anger at the offender and sometimes the survivor; and/or </li>
     <li>Fear and self-doubt about raising healthy, safe children. </li>
     <li>Another family member may also have been a victim of child sexual abuse which can cause this event to open the flood-gates of emotion for them. </li>
</ul>

</div>

<% include partials/footer %>
