<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>How to Protect Children:</h1>
<ul>
     <li>Avoid scare tactics. Explain that most adults would never do anything to hurt a child; those who prey on children are the exception. Develop strong communication skills with your children. Explain the importance of reporting abuse to you or another trusted adult. </li>
     <li>Stress that there should be NO secrets, especially those involving another adult. At the same time, clarify the difference between secrets and surprises. Surprises are fun, make you feel good, and will be shared with others in the near future. </li>
     <li>Encourage children to assess situations critically and to recognize and follow their instincts. </li>
     <li>Encourage professional prevention programs in the local school system </li>
     <li>Explain that sexual advances from adults are against the law. This gives children the confidence to assert themselves with adults who may seek to abuse them. </li>
     <li>Make your child familiar with the common lures used by child molesters and abductors </li>
     <ul class="redText">
          <li>The offering of gifts, candy, money or bribes. </li>
          <li>Appealing to the child's sense of helpfulness such as asking for assistance in finding a lost dog. </li>
          <li>Offers of rides on motorcycles, trail bikes or in sports cars. </li>
          <li>Telling children that their parents were hurt and are in the hospital and offering a ride to the hospital. </li>
          <li>Telling the children that their parents sent him to pick them up. </li>
     </ul>
     <li>Teach your child that his/her body belongs to him/her, and that he/she has the right to say NO to anyone who touches him/her. </li>
     <li>Explain to your child that if someone touches them in a way that feels funny, even if it is someone they know and trust, it is OK to say NO. </li>
     <li>Tell your child that you want him/her to come to you if anything happens that makes him/her feel uncomfortable and that you won't be angry even if he/she were doing something at the time that he/she weren’t supposed to be doing. (e.g. drinking, being someplace they were told not to go.) </li>
     <li>Explain that some adults or older teens may even threaten children by saying their parents will be hurt if the children ever tell the secret. Emphasize that an adult who does this is wrong. </li>
     <li>Teach your child basic sex education, i.e areas of the body covered by a bathing suit are private and only parents and trusted adults (like doctors) should ever touch their private areas and only with a specific reason like checking to see if they are hurt. In addition, if an adult does touch their private areas, it should never be a secret. </li>
     <li>Teach your children the correct names for their body parts. Teach them that they do not have to be embarrassed to talk to you about their private parts. </li>
     <li>Advise your child not to give information over the phone such as "my parents aren't home." </li>
     <li>Spend adequate time with your child; the lonely and attention-starved child is an easy target. </li>
     <li>Talk to your children every day, and take time to listen and observe. Learn as many details as possible about your children's activities and feelings. Encourage them to share their concerns. </li>
     <li>Do not instruct children to ‘Give Uncle Jimmy a kiss’ or ‘Give Aunt Maria a hug.’ This teaches children they don’t have the right to say NO concerning their own bodies. Allow children to express affection on their own terms. </li>
     <li>Do not teach your child blind obedience to adults. Do not teach a child to do whatever a teacher or babysitter tells them. Teach your child that it is OK to say no to an adult, teen or other child if they want him to do something he knows is wrong. </li>
</ul>

</div>

<% include partials/footer %>
