<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>Who is Impacted by Sexual Assault?</h1>
<p>What is most concerning about these trends, and the lack of attention to this crime, is that most rape victims are younger than 18. The typical victim is a teenage girl who has been raped in a home by someone she already knew.<sup>1</sup></p>
<p>Boys and girls of any age can be victims of sexual abuse. It is estimated that one in three girls and one in six boys are sexually abused.<sup>2</sup> The myth that men and boys cannot be victims of sexual assault is untrue. </p>
<p>In Dallas, Texas , police received 46 reports of male rape in 1989, 20 times higher than they did in 1984. Rapists who rape men are thought to be homosexual, but this is a myth; most rapists are heterosexual and have a willing sex partner at home.  </p>

<ul>
     <li>Approximately 683,000 women are forcibly raped each year.<sup>3</sup>  </li>
     <li>It is estimated that 92,700 males are forcibly raped each year.<sup>4</sup></li>
     <li>The most common victims of rape are females under 18 years of age.<sup>5</sup></li>
     <li>In the today, 1.8 million teens have already been the victims of serious sexual assault.<sup>6</sup></li>
     <li>Approximately one-third of all juvenile victims of sexual abuse cases are children younger than six years of age.<sup>7</sup></li>
     <li>Thirty-nine percent of girls report being sexually harassed at school on a daily basis.<sup>8</sup></li>
     <li>Eighty-two percent of women report that they fear rape and/or death more than anything else.<sup>9</sup></li>
</ul>
<div class="smallerText">
     <h3 class="centerThis">Sources</h3>
     <ol>
          <li>Department of Health and Human Services. (1995). Administration for children and families, Child Maltreatment. Washington, DC . </li>
          <li>Department of Health and Human Services. (1993). Child sexual abuse: Intervention and treatment issues. McLean, VA : Faller, K.C. </li>
          <li> National Center for Victims of Crime and Crime Victims Research and Treatment Center . (1992) Rape in : A report to the nation. Arlington, VA : Kilpatrick, D.G., Edmunds, C.N. & Seymour A.</li>
          <li>Department of Justice. (1998). Prevalence, incident, and consequences of violence against women: Findings from the National Violence Against Women Survey. Washington, DC : Tjaden, P. and Thoennes, N.   </li>
          <li> American Academy of Pediatrics, Committee on Adolescence. (1994). Sexual assault and the adolescent. Pediatrics. 94(5), 761-765.   </li>
          <li> Department of Justice. (1997). The prevalence and consequences of child victimization: Summary of a research study by Dean Kilpatrick, Ph.D. and Benjamin Sauder, Ph.D. Washington, DC: Kilpatrick & Saunders.   </li>
          <li>Department of Health and Human Services. (1995).  </li>
          <li>Stein, N., Marshall, N.L.& Tropp, L.R. (1993). Secrets in public: Sexual harassment in our schools. Massachusetts: Wellesley College Center for Research on Women.  </li>
          <li>Randall, M. and Haskell, L. (1995). Sexual violence in women's lives: Findings from the Women's Safety Project, a community-based survey. Violence Against Women, 1(1), 6-31.</li>
     </ol>
</div>


</div>

<% include partials/footer %>
