<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">House Bill 131</h1>
<img src="resources/css/img/hb131.jpg" alt="House Bill 131">
<img src="resources/css/img/hb131(2).jpg" alt="House Bill 131">
</div>

<% include partials/footer %>
