<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">Our Facility</h1>
<img src="resources/css/img/sofa_pic.jpg" alt="Sofa Picture">
<img src="resources/css/img/exam_room_pic.jpg" alt="Exam Room Picture">
<img src="resources/css/img/dolls_pic.jpg" alt="Dolls Picture">
<img src="resources/css/img/bathroom_pic_resize.jpg" alt="Bathroom Picture">
</div>

<% include partials/footer %>
