<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>What Is Sexual Assault?</h1>
<p><strong>Sexual assault, or rape, is a violent crime, not a sexual act. The myth that men who rape women are sexually deprived or pathological is being dispelled and replaced with the understanding that rape is more of an act of power and control than lust.<sup>1</sup>  </strong></p>
<p><strong>The occurrence of forcible rape in our country appears to be on the rise. The Senate Judiciary Committee in its Majority Staff Report entitled Violence Against Women: The Increase of Rape in America determined that more women were raped in 1990 than in any other year in American history. </strong></p>
<h2>Rate Of Sexual Assault</h2>
<p><strong>The rate of rape will continue to increase without appropriate prevention and response. In 1993, the Senate Judiciary Committee concluded that only two percent of rapists are imprisoned. Attitudes about women who are raped and rapists continue to present barriers to justice.<sup>2</sup> Because we doubt the validity of victims' experiences, rape remains the silent crime, reported at least less than 15 percent of the time it occurs.  </strong></p>
<ul>
     <li>More than 226,000 children and 104,000 adults are raped every year in Texas.<sup>3</sup></li>
     <li>The has the highest rape rate of any industrialized nation.<sup>4</sup></li>
     <li>In one survey, 42 percent of rape victims reported that they had told no one about the assault. Only five percent reported to the police.<sup>5</sup></li>
     <li>In a survey of college men, 35 percent anonymously admitted they would commit rape if they knew they could get away with it.<sup>6</sup></li>
     <li>One of every five college women reported being forced to have sexual intercourse.<sup>7</sup></li>
</ul>
<div class="smallerText">
     <h3 class="centerThis">Sources</h3>
     <ol>
          <li> National Center for Victims of Crime and Crime Victims Research and Treatment Center . (1992) Rape in : A report to the nation. Arlington, VA : Kilpatrick, D.G., Edmunds, C.N. & Seymour A. </li>
          <li>Department of Justice. (1997). The prevalence and consequences of child victimization: Summary of a research study by Dean Kilpatrick, Ph.D. and Benjamin Sauder, Ph.D. Washington, DC: Kilpatrick & Saunders. </li>
          <li>National Center for Victims of Crime and Crime Victims Research and Treatment Center . (1992). Rape in : A Report to the Nation. Arlington, VA.  </li>
          <li>Allison, J. A., & Wrightsman, L. S. (1993). Rape. The misunderstood crime. Newbury Park, CA : Sage.</li>
          <li>Warshaw, R. (1994). I never called it rape: The Ms. report on recognizing, fighting and surviving date acquaintance rape. New York : HarperPerennial.  </li>
          <li>Briere, J., & Malamuth, N. (1983). Self-reported likelihood of sexually aggressive behavior: Attitudinal vs. sexual explanations. Journal of Research in Personality, 17, 315-323.</li>
          <li> National Center for Chronic Disease Prevention and Health Promotion. Division of Adolescent and School Health. (1995). Youth risk behavior surveillance: National college health risk behavior survey. Atlanta, GA. </li>
     </ol>
</div>


</div>

<% include partials/footer %>
