<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>Reporting the Crime</h1>
<h2>General Reporting Requirements in Texas:</h2>
<ul>
     <li>The law requires that any person who believes that a child is being abused, neglected or exploited report the circumstances to the Texas Department of Protective and Regulatory Services Abuse Hotline, <strong>1-800-252-5400.</strong></li>
    <li>You do not need to have proof, only to believe it is happening.</li>
    <li>The person making a report is immune from civil or criminal liability if the report is made in good faith. The name of the person making the report is confidential. </li>
    <li>Any person suspecting abuse and not reporting it can be liable for a Class B misdemeanor. </li>
</ul>
<h2>Reporting Requirements in Texas for Specified Professionals:</h2>
<ul>
     <li>If a professional (teacher, counselor, police officer, medical professional, etc.) has cause to believe that a child has been or may be abused or neglected, the professional must make a report within 48 hours of learning of the abuse or neglect. </li>
     <li>You may not delegate to or rely on another person to make the report. </li>
</ul>

<p>Click <strong><a href="http://www.dfps.state.tx.us/Contact_Us/report_abuse.asp">here</a></strong> for more information on child abuse reporting from the Texas Department of Family and Protective Services. </p>

</div>

<% include partials/footer %>
