<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>Sex Offender Facts</h1>
<h2>General Information and Facts</h2>
<p>A "cure" for sex offending is no more available than is a "cure" for high blood pressure. <sup>1</sup> But with specialized offense specific treatment by qualified individuals, the majority of sex offenders can learn to manage their behaviors. <sup>2</sup></p>
<h3>FACTS</h3>
<ul>
     <li>Registered sex offenders represent only a small portion of the actual sex offenders living in our communities. Research has shown the majority of individuals who abuse sexually will not end up in the criminal justice system.<sup>3</sup></li>
     <li>Sex offenders are an extremely heterogeneous mixture and do not fit into a standard profile but fall into numerous categories, from the voyeur, exhibitionist, statutory offender, incest offender, the pedophile, the rapists, the sexual sadist, sexual murderers, to the Sexually Violent Predator (SVP).   </li>
     <li>Persons who abuse sexually are male and female and come from all socioeconomic and racial groups. Most sex offending begins during adolescence. Typology categories should be used with extreme caution because many sex offenders crossover to different victims and can fall into multiple categories. </li>
</ul>

<h2>Juveniles with Sexual Behavior Problems</h2>
<p> Juvenile perpetrated sexual aggression has been a problem of growing concern in American society over the past decade. <sup>4</sup> According to the 2000 Uniform Crime Statistics published by the Federal Bureau of Investigation, juveniles account for a significant number of sexual crimes. Roughly 16% of the arrests for forcible rape and 20-30% of other sexual offenses involved juveniles younger than 18. <sup>5</sup> While sexual aggression may emerge early in the developmental process, there is no compelling evidence to suggest that juveniles with sexual behavior problems are likely to become adult sex offenders. <sup>4</sup> </p>
<p>A multitude of issues contribute to sex offending behavior in adolescents. The onset of sexual offending behavior in juveniles can be associated with several factors reflected in their experiences, exposure to violence and pornography, maltreatment, and/or developmental deficits. Some children begin displaying sexually inappropriate behavior with others before they reach ten (10) years of age. Others may copy sexual behavior they have witnessed on the part of older siblings and/or adults. Therefore, early identification, assessment, and treatment are essential for those who have displayed such behaviors.  </p>
<p>The earlier treatment is offered, the more likely it is to prevent continued sexual offending. Recidivism data suggests that juveniles with sexual behavior problems are more likely to commit a property crime than another sexual offense. This suggests that juveniles with sexual behavior problems are more similar to juvenile delinquents and other antisocial teens. <sup>5</sup> Recidivism rates for juveniles are low. Less than 10% of juveniles with sexual behavior problems recidivate with a new sex crime and 30% recidivate with non-sexual crimes. <sup>6</sup>  </p>

<h2>Female Sex Offenders</h2>
<p> Although the majority of sex offenders are male, it is clear that female sex offenders exist and this population of offender is largely unrecognized and neglected.  </p>
<p>A female as a sex offender is an idea that society has difficulty acknowledging and it challenges society’s beliefs about females. The notion of females as aggressive, exploitive, violent, and deviant offenders is not compatible with society’s picture of women as mothers, sisters, wives, and the "gentler sex". </p>
<p>In a 2000 study, Snyder estimated that females commit 12% of all sexual offenses against victims under the age of 6 and 6% of the sexual offenses against children between six (6) and twelve (12) years old. <sup>7</sup>  </p>
<p>It is estimated that 64% of the sexual abuse committed by females were crimes against biological relatives and 19% were against victims who were unrelated to the offender. <sup>8</sup> The age of onset of the abuse was 3.2 years old. <sup>9</sup></p>
<p>Recent findings strongly challenge the belief that female sex offenders are rarely violent. <sup>10</sup> Seventy percent (70%) of the female sex offenders in this study used extraneous violence against their victims. <sup>11</sup> It is important to acknowledge that this population of female sex offenders does exist.  </p>

<h2>Civil Commitment</h2>
<p> On September 1, 1999, the Governor of Texas signed Senate Bill 365, which established the first outpatient civil commitment program in the . The outpatient civil commitment program targets sexually violent predators being released from prison who pose a serious risk to community safety or are at high risk to re-offend.  </p>
<p>Civil commitment incorporates intensive outpatient sex offender treatment, monitoring with high-technology global positioning satellite tracking, comprehensive case management, and Department of Public Safety surveillance. The Texas Council on Sex Offender Treatment, as administrator of the Civil Commitment Program, is responsible for the reimbursement of the following but not limited to:  </p>
<ul>
     <li>Case Management System </li>
     <li>Residential housing requirements (if applicable) </li>
     <li>Sex offender treatment (Intake, Testing, Groups, Individuals, Family Sessions, etc.)   </li>
     <li>Global Positioning Tracking   </li>
     <li>Anti-androgen medication </li>
     <li>Mandated Polygraphs (Instant Offense, Sexual History, Maintenance, and Monitoring)   </li>
     <li>Mandated Plethysmographs   </li>
     <li>Biennial Examinations   </li>
     <li>Transportation needs   </li>
     <li>Substance abuse testing  </li>
</ul>
<p>Failure to comply with the order of commitment is a 3rd degree felony, which may result in incarceration in the Texas Department of Criminal Justice-Institutional Division.  </p>

<h2>Sex Offender Behaviors</h2>
<p> Not all sex offenders share all of the following characteristics, and the absence of a particular characteristic does not mean the individual is not a sex offender. <sup>1</sup></p>
<ul>
     <li>Secrecy and dishonesty is a major component of sex offending behavior. Sex crimes flourish in deception and silence. </li>
     <li>Sex offenders typically have developed complicated and persistent psychological and social systems constructed to assist them in denying and minimizing the harm they inflict on others, and often they are very accomplished at presenting others a façade designed to conceal the truth about themselves. <sup>11</sup> </li>
     <li> Cognitive distortions allow the sex offender to justify, rationalize, and minimize the impact of their deviant behavior (i.e. "I was drunk", "We were in love", "She came on to me", "The child wanted it and I did not have the heart to say no", "I only fondled the child".)</li>
     <li>Sex offenders are highly manipulative and will triangulate/split those around them. The skills used to manipulate victims are employed to manipulate family members, friends, co-workers, supervision officers, treatment providers, and case managers. </li>
     <li>Grooming activities are not solely for potential victims. Offenders will groom parents to obtain access to their children. </li>
     <li>Grooming is well-organized and can be long term.  </li>
     <li>The longer a sex offender knows an individual the better they are at "zeroing in" their grooming ("I can read people like a book. I know what others need and I am available to help out".)  </li>
     <li>Sex offenders are generally personable and seek to "befriend" those around them ("My smile is my entrée". "I ‘m like a salesman but I’m never off work".)   </li>
     <li>Sex offenders will continually test boundaries (personal/professional space). </li>
     <li>Sex offenders exploit relationships and social norms to test boundaries.   </li>
     <li>Sex offenders seek professions that allow them access to victims. </li>
</ul>
<p>Sex offender behaviors are extremely resistant to change, so sanctions to both control and punish deviant behaviors are necessary in protecting public safety. In order to manage their behavior, sex offenders must have external controls (i.e. supervision, support system, law enforcement, registration, child safety zones, electronic or global positioning satellite monitoring, and community notification) and develop internal controls (i.e. identifying triggers and deviant thoughts that precede their offending so it does not lead to the act). Without external restraints many offenders will not follow through with treatment. Internal motivation improves prognosis, but it does not guarantee success. </p>

<h3>Resources:</h3>
<ul>
     <li><a href="http://www.dshs.texas.gov/csot/default.shtm">Texas Council on Sex Offender Treatment</a></li>
     <li><a href="http://www.csom.org/">Center for Sex Offender Management</a></li>
     <li><a href="http://www.atsa.com/">Association for the Treatment of Sexual Abusers</a></li>
     <li><a href="https://www.ojjdp.gov/"> Office of Juvenile Justice and Delinquency Prevention</a></li>
     <li><a href="http://www.gundersenhealth.org/ncptc/jacob-wetterling-resource-center/">Jacob Wetterling Resource Center</a></li>
     <li><a href="https://records.txdps.state.tx.us/SexOffenderRegistry"> Texas Department of Public Safety - Registered Sex Offender Search</a></li>
</ul>


<div class="smallerText">
     <h3 class="centerThis">Sources</h3>
     <ol>
          <li>American Probation and Parole Association. (1996). <i>Managing adult sex offenders: A containment approach.</i> Lexington, KY : English, K., Pullen, S., & Jones, L. (Eds.)</li>
          <li>Kercher, G. (1993). <i>Use of the plethysmograph in the assessment and treatment of sex offenders.</i> Senate Interim Study Paper. </li>
          <li>Rape, Abuse and Incest National Network. <a href="https://www.rainn.org/statistics/perpetrators-sexual-violence">https://www.rainn.org/statistics/perpetrators-sexual-violence</a></li>
          <li>Hunter, J.A. (2000). <i>Understanding juvenile sex offenders: Research findings & guidelines for effective management & treatment. Juvenile Justice Fact Sheet.</i>  Charlottesville, VA: Institute of Law , Psychiatry, & Public Policy, University of Virginia .</li>
          <li>Openshaw, K. (2004) <i>Conceptualizing and intervening with juvenile sexual offenders.</i> Family Therapy Magazine.</li>
          <li>Kahn, T. J., & Lafond, M. A. (1988). <i>Treatment of the adolescent sexual offender.</i> Child and Adolescent Social Work, 5 (2), 135-148. </li>
          <li> Bureau of Justice Statistics. (2000). <i>Sexual assault of young children as reported to law enforcement: Victim, incident, and offender characteristics.</i> Washington, DC : Howard Snyder. </li>
          <li>Saradjian, J. (1996). <i>Women who sexually abuse children: From research to clinical practice. </i>London : Wiley.</li>
          <li>Rosencrans, B. (1997). <i>The last secret: Daughters sexually abused by mothers.</i> Safer Society.</li>
          <li>Marvasti, J. (1986). <i>Female sex offenders: Incestuous mothers. </i>American Journal of Forensic Psychiatry, 7(4), 63-69. AND Johnson, R. & Shrier, D. (1987). <i>Past sexual victimization by females of male patients in an adolescent medicine clinic population.</i> American Journal of Psychiatry, 144(5), 650-652.</li>
          <li>Ibid.</li>
     </ol>
</div>

</div>

<% include partials/footer %>
