<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>When It Is Someone You Know</h1>

<p>When someone you know or care about has been assaulted, it is normal for you to feel upset and confused. At a time when you may want to help most, you will be dealing with a crisis of your own.  </p>
<p>You may find it difficult to listen when he/she needs to talk about his or her feelings. You may hope that by not talking about it, the feelings both of you have will go away. You may be tempted to make decisions for the survivor, to be over-protective. You may want to hide the assault from others. You may feel disturbed or confused when the survivor continues to be affected for weeks, months, and even years.  </p>
<p>Some partners may want more physical intimacy sooner than the survivor does. Others may feel repulsed.  </p>
<p>Maybe you feel guilty and responsible, believing you could somehow prevent the assault. You may also feel anger at the survivor or at everyone in general. </p>
<p>All of these feelings are understandable following the sexual assault of someone you love. Please know that if these feelings are hidden or expressed in hurtful ways, they can interfere with the resolution of your crisis and that of the survivor. The survivor may need your support and understanding. You, however, also need support.  </p>
<p>Rape is a violent assault, not a sexually-motivated or gratifying act. The rapist's aim is to dominate, humiliate, control and degrade the victim. Because the same body parts are involved in sexual assault as in making love, many people confuse sex and violence. Some respond to a survivor as if s/he provoked, wanted or enjoyed it.  </p>
<p>Many people also believe rape is not traumatic. Not understanding the reality of sexual assault can make the crisis more difficult for both of you. The emotional impact of sexual assault does not disappear, and talking about it can help. Your feelings are normal, and resources are available for you too. </p>

</div>

<% include partials/footer %>
