<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1 class="centerThis">If You Are A Victim</h1>
<p>Get to a safe place.</p>
<p>Do not shower, bathe, wash your hands, brush your teeth, use the toilet or clean up in any way. You could destroy evidence. If you have already done any of these things, evidence may still be present for collection. </p>
<p>Do not change or destroy clothing. Your clothes are evidence. </p>
<p>If it was in your home, do not rearrange and/or clean up anything. You could destroy evidence. </p>
<p>Get medical attention as soon as possible. Evidence should be collected when you get to the hospital. </p>
<p>Contact a friend or family member you trust or call the local rape crisis center hotline. </p>
<p>Most of all, know that <strong>this is not your fault.</strong></p>

</div>

<% include partials/footer %>
