<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>Symptoms of Child Abuse</h1>
<p>Because of extensive grooming on the part of perpetrators and the quick healing of children’s bodies, there are often no obvious physical signs of child sexual abuse. However, there are some symptoms that could indicate that a child has been a victim of sexual abuse. The list below is not exhaustive nor is it a checklist enabling you to determine if sexual abuse has occurred. A cluster of the following symptoms may indicate that a further investigation is warranted. </p>
<h2><i>Some warning signs include:</i></h2>
<ul>
     <li>Unexplained pain, swelling, bleeding or irritation of the mouth, genital or anal area; urinary infections; and sexually transmitted diseases; </li>
     <li>Vaginal or rectal bleeding, pain, itching, swollen genitals, vaginal discharge; and/or </li>
     <li>Torn or stained underclothing. </li>
     <li>Copying adult sexual behavior; </li>
     <li>Persistent sexual play with themselves, other children, toys, or pets; </li>
     <li>Displaying sexual knowledge, through language or behavior, that is beyond what is normal for their age; </li>
     <li>Unusual interest in all things of a sexual nature; </li>
     <li>Drawings, pictures, or stories with a strong, unusual or bizarre sexual theme; </li>
     <li>Seductiveness - attempts to seduce adults or other children; </li>
     <li>Hints, indirect comments or statements about the abuse; </li>
     <li>Unusual interest in or knowledge of sexual matters, expressing affection in ways inappropriate for a child of that age; and/or</li>
     <li>Unexplained fear of a person or an intense dislike at being left somewhere or with someone. </li>
     <li>Intolerance to being touched;</li>
     <li>Self-injuring behavior (e.g. cutting the skin, banging head); </li>
     <li>Unusual aggressiveness or anger; </li>
     <li>Inappropriate clothing (too much for season, much high-necked clothing, baggy clothing); and/or </li>
     <li>Suicidal behavior. </li>
     <li>Sudden drop in grades, falling asleep at school, etc; </li>
     <li>Vague somatic complaints (stomach aches, muscle soreness, etc.); </li>
     <li>Changes in behavior such as withdrawal, fearfulness, crying without provocation; </li>
     <li>Appetite disturbances; </li>
     <li>Recurrent nightmares, disturbed sleep patterns, fear of the dark; and/or </li>
     <li>Regression to more infantile behavior such as bedwetting, thumb sucking, or excessive crying.</li>
</ul>

</div>

<% include partials/footer %>
