<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>What to Say to a Child Who Has Been Abused</h1>
<p> A disclosure of sexual abuse is very difficult, not only for a child, but for the person hearing it as well. Although you may be feeling helpless and frightened, the child should not be exposed to those feelings. You need to assure the child that what happened to them is not their fault and that their coming forward was courageous and the right thing to do. It is also important that you demonstrate by both words and actions that you will do everything you can to protect them from further abuse.</p>
<p> Here are some things to keep in mind after a child has made a disclosure of sexual abuse during the process of investigation and intervention:</p>
<h2 class="blueText">Do</h2>
<ul class="blueText">
     <li>Allow the child to use their own words to describe the incident  </li>
     <li>Assure the child they are not to blame for what happened  </li>
     <li>Treat the child normally   </li>
     <li>Take care of the child’s emotional needs   </li>
     <li>Listen and take notes   </li>
     <li>Allow the child to talk about the incident if they bring it up  </li>
     <li>Write down concerns and questions for CPS, police officers and therapists   </li>
     <li>Love and support the child   </li>
</ul>
<h2 class="redText">Don't</h2>
<ul class="redText">
     <li>Use your language to help the child describe what happened </li>
     <li>Try to interview or investigate   </li>
     <li>Overreact</li>
     <li>Express fear, anger and anxiety   </li>
     <li>Initiate conversation about the incident   </li>
     <li>Let personal feelings influence the child  </li>
     <li>Reward the child for giving information </li>
</ul>

</div>

<% include partials/footer %>
