<% include partials/header %>

<div class=" ui container text">
     <br>
     <br>
     <br>
<h1>You Have a Right To:</h1>
<ul>
     <li>Determine whether to report the crime to the police,</li>
     <li>Ask for a male or female police officer if you choose to report,  </li>
     <li>Locate an attorney to represent you (the prosecutor is not your attorney), </li>
     <li>Sue the rapist in civil court for money --> <a href="http://taasa.org/legal/">Texas Association Against Sexual Assault</a></li>
     <li>Refuse to have evidence collected,  </li>
     <li>Request that someone accompany you in the examination room, and </li>
     <li>Be considered a rape victim/survivor regardless of the rapist's relationship to you.  </li>
</ul>

<p>Getting back to normal can take a long time and you may be wondering if there is anyone who can help. Many survivors have found it helpful to talk to rape crisis counselors. You can find the telephone numbers of your local center <a href="http://taasa.org/crisis-center-locator/">here</a> or listed in your phone book. You may also call the 24-hour National Sexual Assault Hotline, operated by <a href="https://www.rainn.org/">RAINN</a>, at 1-800-656-HOPE. By calling this number you will be automatically connected to your closest rape crisis center. Rape crisis centers are on call 24-hours a day waiting to help you.  </p>
<p id="lastParagraph">Feel free to call and request "A Survivor's Booklet" in English or Spanish from TAASA. Our number is 512-474-7190 </p>
</div>

<% include partials/footer %>
