@media only screen and (max-width: 1427px) {

     .logo {
          margin-left: 1%;
     }


     /* Big tablet to 1200px (widths smaller taht the 1140px row) */
     @media only screen and (max-width: 1333px) {

          .logo {
               margin-left: 1%;
          }

          .row { padding: 0 2%; }
     }


     @media only screen and (max-width: 1200px) {
          .logo {
               padding: 0 2%;
          }

          .ui.secondary.menu .item {
              display: none;
              float: left;
          }

          #companyName {
               display: inline-block;
          }
          .mobile-nav-icon {display: inline-block;}
          .sticky .mobile-nav-icon { margin-top: 2px; }
          .sticky .mobile-nav-icon i { color: #555; }
          .hero-text-box {
               margin-left: 5%;
          }
     }

     /* Small tablet to big tablet: from 768px to 1023px */
     @media only screen and (max-width: 1023px) {
          body { font-size: 13px; }
          section { padding: 60px 0; }

          .logo {
               margin-left: 2%;
          }

          .long-copy {
               width: 80%;
               margin-left: 10%;
          }

          .steps-box { margin-top: 10px; }
          .steps-box:last-child { margin-top: 10px; }
          .works-steps { margin-bottom: 40px; }
          .works-step:last-of-type { margin-bottom: 60px; }

          .app-screen { width: 50%; }

          .icon-small {
               width: 17px;
               margin-right: 5px;
          }

          .city-feature { font-size: 90%; }

          .plan-box {
               width: 100%;
               margin-left: 0%;
          }

          .plan-price { font-size: 250%; }
          .contact-form { width: 80%; }


          .mobile-nav-icon {display: inline-block;}
     }

     /* Small phones: from 0 to 480px */
     @media only screen and (max-width: 819px) {
          .query-services {
               width: 100%;
               height: 460px;
               font-size: 14px;
          }
          .query-visit {
               width: 100%;
               font-size: 14px;
          }

          .mobile-nav-icon {display: inline-block;}
     }



     /* Small phones to small tablets: from 481px to 767px */
     @media only screen and (max-width: 767px) {
          body { font-size: 15px; }
          section { padding: 30px 0; }

          .ui.secondary.menu .item {
              display: none;
              float: left;
          }

          .query-services {
               width: 100%;
               height: 650px;
          }
          .query-visit {
               width: 100%;
          }

          .row { padding: 0 8%; }
          .col {
               width: 100%;
               margin: 0 0 4% 0;
          }

          .hero-text-box {
              font-size: .9rem;
          }


          .main-nav { display: none; }
          .mobile-nav-icon {display: inline-block;}


          h1 { font-size: 220%; }
          h2 { font-size: 180%; }
          h3 {
               font-size: 150%;
          }

          .app-screen { width: 40%; }
          .steps-box:first-child { text-align: center; }

          .works-step div {
               height: 40px;
               width: 40px;
               margin-right: 15px;
               padding: 4px;
               font-size: 120%;
          }

          .works-step { margin-bottom: 20px; }
          .works-step:last-of-type { margin-bottom: 20px; }


     }

     @media only screen and (max-width: 600px) {
          .query-services {
               height: 700px;
          }

          #companyName {
               display: none;
          }
          .mobile-nav-icon {display: inline-block;}
     }

     .hero-text-box {
          font-size: .8rem;
     }

     @media only screen and (max-width: 534px) {
          #companyName {
               transform: translateX(-20px);
               font-size: .7rem;
               display: none;
          }
          .query-services {
               height: 770px;
          }
          .query-visit {
               height: 650px;
          }
          .mobile-nav-icon {display: inline-block;}
          .hero-text-box {
               font-size: .62rem;
          }
     }



     /* Small phones: from 0 to 480px */
     @media only screen and (max-width: 480px) {
          section { padding: 25px 0; }
          .contact-form {width: 100%; }
          h1 {
               font-size: 180%;
          }
          h2 {
               font-size: 180%;
          }
          h3 {
               font-size: 150%;
          }
          .hero-text-box {
              transform: translateY(-30px);
               font-size: .735rem;
          }
          .ui.button {
            margin-top: 0px;
            margin-right: 8px;
       }
          #companyName {
               transform: translateX(-20px);
               font-size: .7rem;
               display: none;
          }

          .mobile-nav-icon {
               display: inline-block;
               margin-right: 20px;
          }

          .logo {
               height: 120px;
               width: auto;
               transform: translateX(1px);
          }
          .row, .hero-text-box {
               padding: 0 .01%;
          }

          .query-services {
               height: 850px;
          }

          .query-visit {
               height: 650px;
          }


     }
